@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
:root{
    --primary-color: #706C61;
    --secondary-color: #edae49;
    --accent1: #3fa7d6;
    --accent2: #dfd7b3;
    --text-on-dark: #dfd7b3;
    --text-on-light: #706C61;
    --heading: #edae49;
    --shadow: #000;
}

/* Home and all page styles */
#content {
    max-width: 1600px;
    margin: 0 auto; 
}

.hidden{
    display: none;
}

body{

    background: linear-gradient(180deg, var(--accent2) 30%, var(--primary-color) 160%);
    background-attachment: fixed;
    width: 100%;  
    font-family: 'Roboto Slab', serif;
    max-width: 1600px;
    margin: 0 auto;
}

#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background div{
    position: absolute;
    transform-origin: 50% 66%;
}

#background div:nth-child(1) { left: 8%;  top: 12%; rotate: 45deg; }
#background div:nth-child(2) { left: 25%; top: 45%; rotate: 120deg; }
#background div:nth-child(3) { left: 55%; top: 18%; rotate: -30deg; }
#background div:nth-child(4) { left: 42%; top: 72%; rotate: 15deg; }
#background div:nth-child(5) { left: 88%; top: 65%; rotate: 200deg; }
#background div:nth-child(6) { left: 12%; top: 78%; rotate: -85deg; }
#background div:nth-child(7) { left: 68%; top: 82%; rotate: 55deg; }
#background div:nth-child(8) { left: 82%; top: 10%; rotate: 160deg; }
#background div:nth-child(9) { left: 5%;  top: 48%; rotate: 10deg; }
#background div:nth-child(10){ left: 45%; top: 5%;  rotate: 280deg; }

@media (max-width: 800px) {
    #background div:nth-child(1) { left: 5%;  top: 8%;  rotate: 20deg; }
    #background div:nth-child(2) { left: 75%; top: 12%; rotate: 110deg; }
    #background div:nth-child(3) { left: 40%; top: 20%; rotate: -50deg; }
    #background div:nth-child(4) { left: 20%; top: 30%; rotate: 30deg; }
    #background div:nth-child(5) { left: 85%; top: 35%; rotate: 200deg; }
    #background div:nth-child(6) { left: 18%; top: 55%; rotate: -85deg; }
    #background div:nth-child(7) { left: 60%; top: 60%; rotate: 65deg; }
    #background div:nth-child(8) { left: 40%; top: 70%; rotate: 155deg; }
    #background div:nth-child(9) { left: 8%;  top: 80%; rotate: 15deg; }
    #background div:nth-child(10){ left: 75%; top: 82%; rotate: 285deg; }
}

@media (max-width: 375px) {
    #background div:nth-child(1) { left: 8%;  top: 5%;  rotate: 25deg; }
    #background div:nth-child(2) { left: 72%; top: 10%; rotate: 95deg; }
    #background div:nth-child(3) { left: 35%; top: 18%; rotate: -45deg; }
    #background div:nth-child(4) { left: 15%; top: 28%; rotate: 40deg; }
    #background div:nth-child(5) { left: 80%; top: 38%; rotate: 210deg; }
    #background div:nth-child(6) { left: 22%; top: 48%; rotate: -75deg; }
    #background div:nth-child(7) { left: 65%; top: 58%; rotate: 75deg; }
    #background div:nth-child(8) { left: 42%; top: 68%; rotate: 160deg; }
    #background div:nth-child(9) { left: 12%; top: 78%; rotate: 20deg; }
    #background div:nth-child(10){ left: 68%; top: 86%; rotate: 275deg; }
}

.triangle{
    width: 0;
    height: 0;

    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86px solid var(--primary-color);
}

a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

img{
    width: 80%;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;   
}

h2{
    font-size: 45px;
}

h4, h2{
    font-size: 30px;
}
p{
     font-family: 'Roboto Slab', serif;
     color: var(--text-on-dark);
}

button{
    border: none;
    background-color: var(--primary-color);
    color: var(--text-on-dark);
}

header {
    background-color: var(--secondary-color);
    color: var(--text-on-light);
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.logo{
    margin: 0 auto;
    max-width: 400px;
    padding: 0px;
}

.logo_link{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.logo_link img {
    margin: 0 auto;
    width: 100%;
}

#nav-wrapper{
    position: relative;
}

#nav-wrapper.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

#nav-bar{
    display: flex;
    flex-direction: column;
}

#hero.sticky {
    margin-top: 85px;
}
 
#account-setup-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.account-travel{
    padding: 10px;
    font-size: 1.5em;
}

#menu_button{
    width: 100%;
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0 6px 5px var(--shadow);
    position: relative;
    z-index: 2;
}

#menu_button img{
    width: 80px;
}

nav a {
    color: var(--text-on-light);
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding: 35px;
    transition: 0.5s;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--accent1);
}

#navbar {
    border: none;
    max-height: 0;
    overflow: hidden;
    transition:  0.3s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#navbar.open {
    max-height: 500px;
    border-bottom: 3px solid var(--primary-color);
}

#account-icon{
    padding: 0;
}

#account-icon img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

#account-wrapper{
    padding: 0;
    display: flex;
    margin: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-bottom: 40px;
    min-height: 223px;
}


#hero_box img{
    width: 100%;
    height: 110%;
    object-fit: cover;
}

#hero_box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero_box img{
        height: 110%;
}

#hero_msg h1,
#hero_msg h2 {
    text-align: center;
}

#hero_msg h1 {
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--heading);
    text-shadow: 2px 2px 5px var(--shadow);
}


#hero_msg h2 {
    font-family: 'Roboto Slab', sans-serif;
    color: var(--accent1);
    text-shadow: 2px 2px 5px var(--shadow);
}

#hero_msg h2{
        display: none;
}

.button_box {
    text-align: center;
}

.buy{
    color: var(--text-on-light);
    background-color: var(--secondary-color);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 5px;
    transition: 0.5s;
}

#order{
    display: block;
    width: 20%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 18px;
    padding: 15px 30px;
    margin: 9px auto;
    border-radius: 5px;
    transition: 0.5s;
}

.buy:hover {
    color: var(--accent1);
    background-color:   var(--primary-color);
}

#order:hover {
    color: var(--accent1);
    background-color: var(--primary-color);
}
#hwrapper{
    box-shadow: 0px 0px 8px 0px var(--shadow);
    margin-top: -5px;
    margin-bottom: 200px;
    padding: 50px;
    background-color: var(--primary-color);
}

#hwrapper .products{
    background: none;
}

.product{
    text-align: center;
}

.product h3{
    font-size: 30px;
    color: var(--accent2);
}

.product img{
        box-shadow: 0px 10px 13px var(--shadow);
        width: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
}

#see_more{
    display: block;
    margin-left: auto;
    width: max-content;
    color: var(--accent2);
    text-align: right;
    transition: transform 0.5s, color 0.5s;
}

#see_more:hover{
    color: var(--accent1);
    transform: translateX(10px);
}

#custom_print_sect{
    display: grid;
    background: none;
    justify-content: center;
    grid-template-columns: 1fr 5fr 1fr;
}

#image_background{
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.custom_print_msg{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: var(--secondary-color);
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 3px var(--shadow)
}
.custom_print_msg h2{
    color: var(--text-on-dark);
}


.custom_print_msg p{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: var(--text-on-light);
}

footer{
    margin-top: 100px;
    background-color: var(--secondary-color);
    color: var(--text-on-light);
    padding: 25px 50px;
    margin-top: 200px;
    align-items: center;
}

footer p{
    text-align: center;
}

footer a {
    color: var(--text-on-light);
}

footer a:hover {
    color: var(--text-on-light);
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;

}

footer,
.social img {
    padding-top: 15px;
}
.social img{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.social{
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 1.2em;
}

/* Product Page */
#banner{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
}
#banner img{
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    object-fit: cover;
    z-index: -1;
}

#banner h1{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 50px;
    color: var(--text-on-light);
    text-shadow: 2px 2px 5px var(--shadow);

}

#banner.sticky {
    margin-top: 85px;
}

#product_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products{
    box-shadow: 0px 0px 8px 0px var(--shadow);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(330px, 100%), 1fr));
}

#page-nav{
        height: 70px;
        position: relative;
        grid-row: 2/3;
        grid-column: 2/3;
        margin: 20px;
        display: flex;
        justify-content: center;
    }

.page-num{
    height: min-content;
    background-color: var(--secondary-color);
    color: var(--text-on-dark);
    font-size: 30px;
    padding: 5px 5px;
    margin: 0;
    box-shadow: none;
    transition: 0.2s;
}

.page-num:hover{
    box-shadow: 0px 1px 5px var(--primary-color);
    padding: 5px 10px;
    font-size: 40px;
    z-index: 1;
    transition: 0.2s;
}

#arrow-left, #arrow-left-far, #arrow-right, #arrow-right-far{
    color: var(--primary-color);
    font-weight: 1000;
}

#arrow-left, #arrow-left-far{
    margin-right: 15px;
    transition: 0.2s;
}

#arrow-left:hover, #arrow-left-far:hover{
    transform: translateX(-5px);
    transition: 0.2s;
}

#arrow-right, #arrow-right-far{
    margin-left: 15px;
    transition: 0.2s;
}

#arrow-right:hover, #arrow-right-far:hover{
    transform: translateX(5px);
    transition: 0.2s;
}

#hwrapper .products{
    box-shadow: none;
    margin: 0 auto;
    padding: 0;
}

#filter_bar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    overflow: hidden;
    z-index: 2;
    background-color: var(--secondary-color);
    height: 100%;
    transition: 0.5s;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter_bar.open {
    transform: translateX(0%);
    transition: 0.5s;
}

#filter_bar.open > * {
    width: 90%;
}

#filter_bar #filter_close{
    background: none;
    border: none;
    display: grid;
    width: max-content;
    height: 24px;
    transform-origin: center center;
    margin: 5px;
    margin-left: auto;
}

#filter_close:hover{
    transform: rotate(360deg);
    transition: 0.7s;
}

#filter_close .line{
    margin: auto 0;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 20px;
    height: 2px;
    display: block;
    background-color: var(--accent2);
    padding: 2px;
    border-radius: 20px;
}

#filter_close .line:first-child{
    transform: rotate(45deg);
}

#filter_close .line:last-child{
    transform: rotate(-45deg);
}

#search_tab_button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: var(--accent1);
    border: color-mix(in srgb, var(--accent1) 100%, black 25%) 3px solid;
    border-radius: 50px;
    font-size: 2em;
    transform: rotate(0);
    transition: 0.7s;
}

#search_tab_button:hover{
    animation: shake 1.4s ease-in-out infinite;
}

@keyframes shake {
    0% {transform: rotate(0);}
    10% {transform: rotate(20deg);}
    20% {transform: rotate(-20deg);}
    30% {transform: rotate(20deg);}
    40% {transform: rotate(-20deg);}
    50% {transform: rotate(0);}
    100% {transform: rotate(0);}
}

.checkboxes{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    padding: 0;
}

.checkboxes input{
    width: 30%;
}

#search_bar{
    display: flex;
    flex-direction: column;
}

#search_bar input{
font-size: 20px;
}

.product_info{
    display: flex;
}

.product_info h4{
    padding: 5px;
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 30px;
}

.product_info h4:nth-child(1){
    color: rgb(152, 0, 0);
}

#custom_order_img{
    width: 100%;
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.custom_order img{
    width: 100%;
    grid-column: 1/5;
}

#custom_msg{
    margin: auto;
    width: 60%;
    height: 50%;
    background-color: gray;
    border-radius: 10px;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    color: var(--heading);
}


/* Contact Page */

.contact_background{
    background-image: url(https://Nathan-J-Sharp.github.io/WDD130/sharp-objects/images/contact-banner.png); 
    background-repeat: no-repeat; 
    background-size: 100%;
    background-attachment: fixed;
}

#contact_page.sticky{
    margin-top: 105px;
}

#contact_page{
    width: 90%;
    background-color: var(--primary-color);
    padding: 30px;
    margin-top: 20px;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
}

#contact_page h1{
    margin-right: auto;
    margin-left: auto;
}

#contact_page section{
    display: flex;
    grid-template-columns: 2fr 1fr;
    flex-direction: column;
}

#contact_message form{
    grid-column: 1/2;
}

form{
    width: 100%;
    height: fit-content;
}

#contact_message h3{
    color: var(--accent2);
}

#contact_page h1{
    text-align: center;
    color: var(--heading);
}

form{
    width: 100%;    
}

#side_image{
    display: none;
    width: 100%;
    grid-area: 1/2/2/4;
    margin-top: 20px;
    padding-bottom: 40px;
}

.text_box{
    height: 50px;
}

.message_box{
    height: 200px;
    resize: vertical;
}

.message_boxes  section{
    padding-bottom: 40px;
    display: flex;
}


#navbar.open{
    border-bottom: none;
}

input{
    font-family: 'Roboto Slab', serif;
    color: var(--text-on-dark);
}

label{
    width: auto;
    grid-area: 1/1/2/4;
    padding: 10px;
    font-size: 1.17em;
    font-weight: bold;
    color: var(--accent2);
}

.button{
    width: min-content;
    height: min-content;
    margin-bottom: 20px;
}

.button button{
    width: 200%;
    height: 200%;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding: 10px;
    background-color: var(--accent2);
    border: none;
    border-radius: 6px;
}

.button button:hover{
    background-color: var(--secondary-color);
}

#email{
    grid-column: 2/3;
    grid-row: 2/3;
    color: var(--text-on-dark);
    gap: 5px;
}

#email img{
    width: 5rem;
    object-fit: contain;
}

#email h4{
    font-size: 20px;
}

#email{
    display: flex;
}

#mail_info{
    display: none;
    grid-row: 2/3;
    grid-column: 1/2;
    color: var(--text-on-dark);
    margin: 0;
    margin-right: 20px;
}

.error{
    text-align: center;
    background-color: rgb(152, 0, 0);
    color: white;
}

#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-wrapper .error{
    margin-left: 10px;
}

#login-wrapper{
    box-shadow: var(--shadow) 25px 23px 11px;
    margin: 0 auto;
    position: relative;
    top: 33vh;
    padding: 20px;
    padding-top: 40px;
    background-color: var(--primary-color);
    width: 500px;
}

#login-wrapper h1, #register-wrapper h1{
    color: var(--heading);
    margin-top: 0;
    margin-left: 10px;
}

#login-wrapper div{
    padding: 10px;
}

#login-wrapper label{
    padding-left: 0;
}

#login-wrapper input{
 width: 300px;

}

#login-button, #register-button{
    margin-left: 10px;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--text-on-light);
    border: none;
    padding: 10px;
}

.account-link{
    display: block;
    color: var(--accent1);
    margin-top: 10px;
    width: min-content;
    padding: 10px;
    font-size: 20px;
}

#register-wrapper{
    box-shadow: var(--shadow) 25px 23px 11px;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    padding: 20px;
    background-color: var(--primary-color);
    width: 400px;
    min-height: 300px;
    text-align: left;
}

#register-wrapper div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#register-wrapper div{
    padding-left: 0;
}

#profile-header{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

#profile-page{
    display: flex;
    gap: 60px;
}

#profile-bar{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: min-content;
    background-color: var(--primary-color);
    padding: 10px;
    gap: 15px;
}

#profile-bar a{
    font-size: 25px;
    color: var(--text-on-dark);
}

#profile-icon{
    width: 260px;
    height: 260px;
    border-radius: 80px;
    object-fit: cover;
}

.board{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.edit-content{
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 8px;
    width: 400px;
    position: relative;
}

.edit-content form{
    display: flex;
    flex-direction: column;
}

#product-main{
    display: flex;
    padding: 20px;
    gap: 40px;
    color: var(--text-on-light);
    margin-top: 24px;
}

#product-main h2{
    font-size: 50px;
    margin-bottom: 5px;
}

#product-main h4{
    margin: 0;
    margin-bottom: 5px;
}

#product-collage{
    width: 150%;
    display: flex;
    flex-direction: column;
}

#product-collage img{
    width: 80%;
    margin: 0 auto;
    box-shadow: var(--shadow) 0px 0px 43px;
}

#wishlist-button{
    height: 30px;
    margin: 20px 0;
        border-radius: 8px;
}

#product-order{
    margin-top: 35px;
}

#product-order label{
    /* display: block; */
    color: var(--text-on-light);
    padding-left: 0;
}

#product-order button{
    display: block;
    margin-top: 8px;
    padding: 20px 40px;
    border-radius: 8px;
}

#amount{
    border-radius: 3px;
    font-size: 20px;
}

#profile-main{
    width: 100%;
}

#profile-main:has(#profile-icon){
    display: flex;
    gap: 20px;
}

#cart-identifier{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
}

#cart-wrapper{
    background-color: var(--primary-color);
    width: 100%;
    color: var(--text-on-dark);
}

.cart-product{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
    padding-left: 10px;
    align-items: center;
    justify-content: space-around;
    border-bottom: var(--shadow) solid 2px;
}

.cart-product:last-of-type{
    border-bottom: none;
}

.product-menu{
    width: 50px;
    background: none;
    border: none;
    color: var(--text-on-dark);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 17px;
}

.product-menu-panel {
    position: absolute;
    top: 80%;
    right: 10px;
    z-index: 20;
    padding: 10px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 4px var(--shadow);
}

#order-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.past-order{
    width: 215px;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px var(--shadow);
}

.past-order > *{
    margin: 14px 0;
    margin-left: 10px;
}

.past-order h4{
    font-size: 20px;
}

@media (min-width: 800px) {
    .logo,
    .logo_link{
        margin-left: 20px;
        width: 100px;
    }
    
    #navbar{
        min-height: 144px;
    }

    header{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #nav-wrapper{
        width: 100%;
        align-items: center;
    }

    #nav-wrapper.sticky{
        position: relative;
    }

    #menu_button{
        display: none;
    }

    #navbar{
        max-height: 500px;
        flex-direction: row;
        position: relative;
        z-index: 1;
    }

    #contact_page section{
        display: grid;
    }

    #mail_info{
        display: block;
    }

    #side_image{
        display: block;
    }

    #email img{
        width: 4rem;
        object-fit: contain;
    }

    #search{
        width: 80%;
    }

    #account-setup-wrapper{
        flex-direction: row;
    }

    #account-wrapper{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    #account-icon{
        border: none;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        background-color: var(--primary-color);
        padding: 0;
        overflow: hidden;
    }

    #hero.sticky,
    #banner.sticky {
        margin-top: 0;
    }

    #hero_box img{
        height: 90%;
    }

    #hero_msg h2{
        display: block;
    }

    .button_box{
        margin-top: 50px;
    }

    .product img{
        width: 179px;
        height: 179px;
        object-fit: cover;
    }

    #product_wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    #custom_print_sect{
        background-color: var(--primary-color);
    }

    #product_wrapper #custom_print_sect{
        grid-column: 1/3;
    } 

    #image_background{
        padding-top: 40px;
        padding-bottom: 20px;
        width: 80%;
        height: auto;
    }

    #filter_bar{
        transform: translateX(0%);
        position: static;
        width: auto;
        margin: 10px;
        padding: 20px;
        grid-row: 1/3;
        grid-column: 1/2;
        height: max-content;
    }

    #search_bar{
        flex-direction: row;
    }

    #search_tab_button{
        display: none;
    }

    #filter_bar #filter_close{
        display: none;
    }

    #filter_bar{
        display: block;
    }

    .checkboxes{
        grid-template-columns: 1fr 2fr;
    }

    .products{
        margin-top: 12px;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .product{
        width: 330px;
        margin: 0 auto;
    }

    #product-collage img{
        margin-top: auto;
        margin-bottom: auto;
        max-width: 594px;
        width: 90%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }



    .footer-links{
        flex-direction: row;
    }

}

@media (max-width: 375px){
    .custom_print_msg p{
        display: none;
    }
}

#main404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#main404 img{
    width: 40%;
    margin: 0 auto;
}

#profile_info{
    margin: auto 0px;
    background: var(--primary-color);
    padding: 20px;
    color: var(--text-on-dark);
}

#profile_info h3{
    color: var(--heading);
}

#profile-header > a{
    text-shadow: 3px 2px 3px var(--shadow);
    color: var(--accent1);
    font-weight: 1000;
}

#profile-header > h2{
        color: var(--heading);
    text-shadow: 2px 1px 3px var(--shadow);
    text-decoration: overline;
}

#wishlist-wrapper .products:has(.product) > p{
    display: none;
}